@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    min-width: 500px;
    align-items: center;
    background-color: rgb(119, 181, 254);
    min-height: 100vh;

}
.checkout-container{
    border: 2px black solid;
    
    background-color: rgb(231, 229, 229);
    width: 800px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    height: 500px;
    border-radius: 30px;
    max-width: 100%;
}
.payment-container{
    display: flex;
    margin-left: 10px;
    justify-content: left;
    flex-direction: row;
    position: relative;

}
h1{
    justify-content: center;
    align-items: center;
    display: flex;
}
.payment-method-container{
    padding: 10px;
    min-width: 50%;
    margin-right: 1rem;
    background-color: #ffebcd;
    
    border-radius: 10px;
    
}
.payment-method-container h4{
    
    margin: 0;
    display: flex;
}
.payment-method-container h5{
    padding-top: 0rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}
.payment-method-container input{
    border: 0.1rem gray solid;
    
    font-size: 1.2rem;
    border-radius: 3px;
    
}
.payment-method-container .card-number-input{
    min-width: 100%;
}
.date-cvc-container input{
    display: table-cell;
    flex-direction: row;
    position: relative;
}
